{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Homepage</title>
        
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>

        <body style="background-color:rgb(0, 255, 204);">
            
                        {%if user.is_authenticated%}
                        <li>Hello,{{user.first_name}}</li>
                        <a class="" href="accounts/logout"><h1>Logout</h1></a>
                        {%else%}
                        <a class="" href="accounts/register"><h1>Register</h1></a>
                        <a class="" href="accounts/login"><h1>Login</h1></a>
                        {%endif%}

                       
    </body>
</html>
